<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.css">
  <link rel="stylesheet" href="style.css">
  <title>2018 Candidates</title>
</head>
<body class="">
  <header>
      <section class="hero flag">
          <div class="hero-body">
            <div class="container">
              <h1 class="title has-text-white">
                2018 Democratic Candidate Explorer
              </h1>
              <h2 class="subtitle has-text-white">
                Pennsylvania and Virginia
              </h2>
            </div>
          </div>
        </section>        
  </header>
  <div id="root">
      <div class="tabs">
          <ul class="padding-left">
            <li class="is-active"><a>All Candidates</a></li>
            <li><a @click="newModal">Add a Candidate</a></li>
          </ul>
      </div>
        <div class="columns">
          <div class="column is-one-fifth">
            <filter-bar class="padding-left">
            </filter-bar>
          </div>
          <div class="flex-wrap">
            <p v-if="!candidates">Loading candidates, please wait</p>
            <candidate-card v-for="candidate in candidates" v-show="showAll" :candidate="{candidate}">
            </candidate-card>
            <candidate-card v-for="candidate in fourthFilter" :candidate="{candidate}">
            </candidate-card>
          </div>
        </div>
        <more-modal></more-modal>
        <edit-modal></edit-modal>
        <new-modal></new-modal>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="script.js"></script>
</body>
</html>