body {
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  margin: 10px 10px;
  height: 650px;
}

.max-height {
  height: 300px;
  width: 200px;
  margin: 0 auto;
  padding-top: 1px;
}

.padding-left {
  padding-left: 20px
}